<div class="carousel-halfpage-wrapper">
  <div id="carouselHalfPage" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/B1.jpg" class="d-block w-100" alt="ภาพที่ 1">
      </div>
      <div class="carousel-item">
        <img src="../img/B2.jpg" class="d-block w-100" alt="ภาพที่ 2">
      </div>
      <div class="carousel-item">
        <img src="../img/B3.jpg" class="d-block w-100" alt="ภาพที่ 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHalfPage" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHalfPage" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>